[submodule "01-js-review"]
	path = 01-js-review
	url = https://github.com/amamFz/React.git
[submodule "02-pizza-menu"]
	path = 02-pizza-menu
	url = https://github.com/amamFz/React.git
[submodule "03-steps"]
	path = 03-steps
	url = https://github.com/amamFz/React.git
[submodule "04-travel-list"]
	path = 04-travel-list
	url = https://github.com/amamFz/React.git
