[submodule "Code/01-js-review"]
	path = Code/01-js-review
	url = https://github.com/amamFz/React.git
[submodule "Code/02-pizza-menu"]
	path = Code/02-pizza-menu
	url = https://github.com/amamFz/React.git
[submodule "Code/03-steps"]
	path = Code/03-steps
	url = https://github.com/amamFz/React.git
[submodule "Code/04-travel-list"]
	path = Code/04-travel-list
	url = https://github.com/amamFz/React.git
